<div> 
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-7">
          <ul *ngFor="let album of album">
            <li>
              <img src={{album.photo}} alt={{album.annee}}>
              <div class="container" style="margin-left: 7%; width: 80%;">
                <!--
                <button class="btn btn-dark" id="b1" (click)="ajoutPanier()" [disabled]="!vrai"><span class="fa fa-heart" style="color:red;"></span> Ajouter au panier</button>
                <button class="btn btn-dark" id="b2" type="submit"><span class="fa fa-share-alt" style="color:white;"></span> Partager</button>
                <button class="btn btn-danger" id="b3" type="submit"><span class="fas fa-folder-plus" style="color:white;"></span> Acheter</button>
                -->
                <div class="d-flex justify-content-between mb-2">
                  <div class="p-2">
                    <h5>Album</h5>
                    <h6>{{album.titre}}</h6>
                  </div>
                  <div class="p-2">
                    <h5>Artiste</h5>
                    <h5>{{album.nom_artiste}}</h5>
                  </div>
                </div>
  
                <div class="d-flex justify-content-between mb-3">
                  <div class="p-2">
                    <h5>Genre</h5>
                    <h6>{{album.genre}}</h6>
                  </div>
                  <div class="p-2">
                    <h5>Parution</h5>
                    <h6>{{album.annee_sortie}}</h6>
                  </div>
                  <div class="p-2">
                    <h5>Prix</h5>
                    <p>{{album.prix}} €</p>
                  </div>
                </div>
  
                <!--
                <div id="div3"> 
                  <div id="div1"> 
                    <h5>Album</h5>
                    <h6>{{album.titre}}</h6>
                    <br>
                    <h5>Artiste</h5>
                    <h5>{{album.nom_artiste}}</h5>
                    <br>
                    <h5>Parution</h5>
                    <h6>{{album.annee_sortie}}</h6>
                  </div> 
                  <div id="div2">
                    <h5>Genre</h5>
                    <h6>{{album.genre}}</h6>
                    <br>
                    <h5>Prix</h5>
                    <p>{{album.prix}} €</p>
                  </div>
                </div> 
                -->
              </div>
            </li>
          </ul>
        </div>
        <div>
          <div style=" margin-top: 25%; margin-left: -14%;">
            <ul *ngFor="let chanson of detailTab">
              <li>
                <div class="d-flex justify-content-between mb-2">
                  <div class="p-2">
                    <h4>{{chanson.titre}} </h4>
                    <h5>{{chanson.duree}} <i class='far fa-clock	'></i></h5>
                  </div>
                  <div class="p-2">
                    <i class='fas fa-music' style='font-size:30px;color:purple;margin-left: 85%;'></i>
                  </div>
                </div>
                <!--
                <div class="bg-light border ">
  
                  <h4>{{chanson.titre}} </h4><i class='fas fa-music' style='font-size:30px;color:purple;margin-left: 85%;'></i>
                  <h5>{{chanson.duree}} <i class='far fa-clock	'></i></h5>
  
                  
                </div>
                -->
              </li>
            </ul>
          </div>
          <button class="btn btn-info " id="b4" type="submit" data-toggle="modal" data-target="#myModal"> Ajouter</button>
          <br>
          <br>
          <form [formGroup]="formGroup2" (ngSubmit)="miseAJourStock()">
            <div class="form-group" *ngFor="let stok of album">
              <label for="tentacles"><h5>Stock :</h5></label>
              <input type="number" id="tentacles" name="tentacles" min="0" max="100" value="{{stok.stock}}" class="form-control" formControlName="stock">
            </div>
            <button class="btn btn-info " id="bot" type="submit"> Update</button>
            <br>
        </form>
<div class="w3-container">
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" >
            <h4 class="modal-title" >Informations d'Albums</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formGroup1" (ngSubmit)="ajoutChanson()">
              <div class="form-group">
                  <input type="text" id="titre" class="form-control" formControlName="titre" placeholder="Titre" required>
              </div>
              <div class="form-group">
                  <input type="text" id="duree"  class="form-control" formControlName="duree" placeholder="Durée" required>
              </div>
              <br>
              <!-- <p style="color: red;" >Votre login ou mot de passe est incorrecte</p> -->
              <button type="submit" class="btn btn-info btn-block pull-right" name="btnInscription">Ajouter</button>
              <br>
          </form>
          </div>
          <!--
          <div class="modal-footer">
            <button type="submit" class="btn btn-info">Ajouter</button>
          </div>
          -->
        </div>
        
      </div>
    </div>
  </div>
        </div>
      </div>
    </div>