<div>
  <div class="main">
    <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <!--
      <input type="text" class="form-control" placeholder="Search" (keyup)="filters($event)">
      -->
      <input type="text" class="form-control" placeholder="Search" (keyup.enter)="searchAlgolia($event)">
    </div>
  </div>

  <!--
  <div>
    <ul *ngFor="let album of albumsTabFilter">
      <li class="albums" routerLinkActive="active" class="nav-link">
        <div routerLink="/detail/{{album.id}}" (click)="getDetails(album.id)">
          <img src={{album.photo}} alt={{album.annee}} >
        </div>
        <div class="infos">
          <br>
          <h6 class="min-vh-70 mh-70" style="text-align: center;"><b>{{album.titre}}</b></h6>
          <div class="d-flex justify-content-between mb-2">
            <div class="p-2">
              <h6>{{album.nom_artiste}}</h6>
              <p style="color: red; font-size: 17px;"><b>{{album.prix}} €</b></p>
            </div>
            <div class="p-2">
              <h6>{{album.annee_sortie}}</h6>
              <button class="border favorie" [disabled]="!vrai" (click)="ajoutFavoris(album.id)" style="color: white;" >
                <i class="fa fa-heart" style="margin: 5px 5px; color: red;" ></i>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
-->
<div>
  <ul *ngFor="let album of rechercheTab">
    <li class="albums" routerLinkActive="active" class="nav-link">
      <div routerLink="/detail/{{album.id.value}}" (click)="getDetails(album.id)">
        <img src={{album.photo.value}} alt={{album.annee}} >
      </div>
      <div class="infos">
        <br>
        <h6 class="min-vh-70 mh-70" style="text-align: center;"><b>{{album.titre.value}}</b></h6>
        <div class="d-flex justify-content-between mb-2">
          <div class="p-2">
            <h6>{{album.nom_artiste.value}}</h6>
            <p style="color: red; font-size: 17px;"><b>{{album.prix.value}} €</b></p>
          </div>
          <div class="p-2">
            <h6>{{album.annee_sortie.value}}</h6>
            <button class="border favorie" [disabled]="!vrai" (click)="ajoutFavoris(album.id)" style="color: white;" >
              <i class="fa fa-heart" style="margin: 5px 5px; color: red;" ></i>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>

