<div class="container">
  <h2  style="text-align: center">La liste des ALBUMS</h2>   
  <br>
  <br>     
  <div class="container">
    <ul *ngFor="let album of albumsTab">
      <li class="albums" routerLink="/detail/{{album.id}}" routerLinkActive="active" class="nav-link" (click)="getDetails(album.id)">
        <img src={{album.photo}} alt={{album.annee}}>
        <div class="infos">
          <h4>{{album.titre}}</h4>
          <h5>{{album.nom_artiste}}</h5>
          <h6>{{album.annee_sortie}}</h6>
          <p>{{album.prix}} €</p>
        </div>
      </li>
    </ul>
  </div>
</div>

  