<!--
<div class=" p-3 my-3 page-header text-center"> 
    <h1 style="color: black; font-size: 2vw;">BOUTIQUE DE DISQUE VINYLE</h1> 
    <marquee behavior="scroll" direction="left" width="100%" color="#EEEEEE">
        <h2>Binvenue au boutique d'achat neuf et occasion de disque vinyle de tout genre musicaux</h2>
    </marquee>
    <img src="../assets/cap1.jpg" class="img-rounded" style="position: absolute;right: 210px;top: 200px;">
  </div>
  -->

  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    
  </style>
  </head>
  <body>
      <div class=" p-3 my-3 page-header text-center">
        <div id="demo-text">BOUTIQUE DE DISQUE VINYLE</div>
      </div>
      <div class="slider">
          <div class="slider-viewport">
          <div id="img1">
              <div id="img2">
              <div id="img3">
                  <div id="img4">
                  <div id="img5">
                      <div class="slider-content">
                          <img src="../assets/cap1.jpg">
                          <img src="../assets/cap2.png">
                          <img src="../assets/cap3.jpg">
                          <img src="../assets/cap1.jpg">
                          <img src="../assets/cap3.jpg">
                      </div>
                  </div>
                  </div>
              </div>
              </div>
          </div>
          </div>
          <div class="slider-nav">
          <a href="#img1"></a>
          <a href="#img2"></a>
          <a href="#img3"></a>
          <a href="#img4"></a>
          <a href="#img5"></a>
          </div>
      </div>
    <div class="row" style="background-color:lavender ;">
        <div class="col-sm-4">
            <div style="border:1em solid lavender ; position: absolute;left: 110px;top: 100px;">
                <h1 style="font-family:monospace; ">VINYLE</h1>
                <br>
                <br>
                <p style="font-style:italic;  font-family:cursive">Plus que jamais dans l'air du temps, le vinyle est et restera encore longtemps un accessoire de musique indémodable, à commander pour pas cher sur notre site marchand. Le vinyle, qu'il soit 33 Tours, 45 Tours ou encore Maxi 45 Tours, a su évoluer avec les années et les générations pour vous offrir un meilleur son et même un design original pour certains artistes.</p>
            </div>
        </div>
        <div class="col-sm-8"><img src="../assets/cap4.png" height="600" width="1000"></div>
      </div>
      <!--
      <div class="gfg">
        <img src="../assets/cap5.jpg">
        <h3 class="first-txt" style="color:white ; ">
            GeeksforGeeks
        </h3>
        
        <h3 class="second-txt" style="color:white ;">
            A computer science portal
        </h3>
        </div>
    -->
  </body>
  </html>