
<div style="margin: 5px;">
    <br>
    <div class="row">
        <div class="col-sm-6">
            <img src="https://img.freepik.com/free-vector/electro-music-album_53876-67225.jpg?w=2000" alt="album">
        </div>
    
        <div class="col-sm-6 border container" style="text-align: center;width: 70%;">
            <!--<header class="ccontainer-fuild" style="text-align: center; color:floralwhite; height: 100px;">-->
            <br>
            <header>
                <h1>Connexion</h1>
                <span class="btn-circle btn-xl">
                    <i class="fas fa-lock" style="font-size:25px;color:gray"></i>
                </span>
                <br>
                <p>Saisissez à votre e-mail ou idetifiant pour vous connecter à votre compte</p>
                <br>
            </header>
                <form [formGroup]="formGroup" (ngSubmit)="connexion()">
                    <div class="form-group">
                        <input type="text" id="login"  class="form-control" formControlName="login" placeholder="E-mail / Identifiant" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="pwd" class="form-control" formControlName="password" placeholder="Mot de passe" required>
                    </div>
                    <br>
                    <p style="color: red;" [hidden]="!isConnected">Votre login ou mot de passe est incorrecte</p>
                    <br>
                    <button type="submit" class="btn btn-success btn-block pull-right" name="btnConnexion">Login</button>
                    <br>
                </form>
                <br>
        </div>
    </div>
</div>
<!--
    <form>
        <ul class="form-list">
            <li class="form-list__row">
                <label>Nom </label>
                <div id="input--cc" class="creditcard-icon">
                  <input type="text" name="cc_number" required="" value="{{user.nom}}" placeholder="Nom"/>
                </div>
              </li>
          <li class="form-list__row">
            <label>Prénom </label>
            <div id="input--cc" class="creditcard-icon">
              <input type="text" name="cc_number" required="" value="{{user.prenom}}" placeholder="Prénom" />
            </div>
          </li>
          <li class="form-list__row">
            <label>login </label>
            <div id="input--cc" class="creditcard-icon">
              <input type="text" name="cc_number" required="" value="{{user.login}}" placeholder="login"/>
            </div>
          </li>
          <li class="form-list__row">
            <label>Statut </label>
            <div id="input--cc" class="creditcard-icon">
              <input type="text" name="cc_number" required="" placeholder="Status"/>
            </div>
          </li>
          <br>
          <li>
            <button type="submit" class="button"> Anuler </button>
            <button type="submit" class="button" style="float: right;" > Mise à jour </button>
          </li>
        </ul>
      </form>
</div>
-->