<header>
  <div class=" p-3 my-3 page-header text-center bg-info"> 
    <h1 style="color: white;font-size: 2vw;">Bienvenue</h1>
    <h1 style="color: white; font-size: 2vw;">Ecommerce : Boutique vinyle</h1> 
  </div>
</header>

<!-- Affichage du navbar -->
<main role="main">
  <section>
    <!-- Appel Affichage albums-->
    <app-albums></app-albums>
  </section>
  
</main>

<!-- Footer -->
<footer class=" page-footer text-center bg-info" style=" margin-bottom: 0px; ">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://ent.univ-avignon.fr/"> CERI Avignon</a>
  </div>
</footer>