<div class="container-fluid" style="margin: 5px 5px;">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-6 border">
            <h2 style="text-align: center;"><b> MON PANIER </b></h2>
            <div>
                <ul *ngFor="let album of album; let index = index;">
                  <li class="border">
                    <div class="d-flex justify-content-between mb-3">
                        <div class="p-2">
                            <img src={{album[0].photo}} alt={{album[0].annee}} style="height: 150px;">
                        </div>
                        <div class="p-2">
                            <h5 class="min-vh-70 mh-70">{{album[0].titre}}</h5>
                            <h6>{{album[0].nom_artiste}}</h6>
                            
                            <!--<div style="display: inline-flex;">-->
                            <div>
                                <p></p>
                                <p></p>
                                <p></p>
                                <span style="margin-right: 7px;"><b>Quantité</b></span>
                                <select [(ngModel)]="panier[index].quantite" (ngModelChange)="selectChange($event, album[0].stock)">
                                  <option *ngFor="let i of listeQuantite" [ngValue]="i">{{i}} </option>
                                </select>
                                <p></p>
                                <div *ngIf="album[0].stock < panier[index].quantite;">
                                  <p style="color: red;"> Quantité indisponible</p>
                                </div>
                                <div *ngIf="album[0].stock >= panier[index].quantite;">
                                  <p style="color: greenyellow;"> En stock</p>
                                </div>
                            </div>
                        </div>
                        <div class="p-2">
                            <button (click)="suppPannier(album[0].id)"><i class="fas fa-trash-alt"></i></button>
                            <br><br>
                            <p></p>
                            <p style="font-size: 18px;color: firebrick;"><b>{{album[0].prix * panier[index].quantite}} €</b></p>
                        </div>
                    </div>
                  </li>
                </ul>
            </div>

        </div>
    
        <div class="col-6 border">
            <h2 style="text-align: center;"><b> TOTAL </b></h2>
            <br>
            <div class="d-flex justify-content-between mb-2">
                <div class="p-2">
                    <p>Remises</p>
                </div>
                <div class="p-2">
                    <a href="">appliquer la remise</a>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between mb-2">
                <div class="p-2">
                    <p>Valeur de la commande </p>
                    <p>Livraison </p>
                </div>
                <div class="p-2">
                    <p>{{montantTotal}} euros</p>
                    <p>GRATUIT</p>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between mb-2">
                <div class="p-2">
                    <p><b> Total de la commande </b></p>
                </div>
                <div class="p-2">
                    <p><b>{{montantTotal}} euros</b></p>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal" [disabled]="paiemt"> PAIEMENT </button>
            <br>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal" id="myModal">
        <div class="modal__container">
            <div class="modal__featured">
              <div class="modal__circle"></div>
              <img src="https://cloud.githubusercontent.com/assets/3484527/19622568/9c972d44-987a-11e6-9dcc-93d496ef408f.png" class="modal__product" />
            </div>
            <div class="modal__content">
            <button style="color:red;" type="button" class="close" data-dismiss="modal">&times;</button>

              <h2>Details de paiement</h2>
              <br>
              <form>
                <ul class="form-list">
                  <li class="form-list__row">
                    <label>Nom</label>
                    <input type="text" name="" required="" />
                  </li>
                  <li class="form-list__row">
                    <label>Numéro de la carte</label>
                    <div id="input--cc" class="creditcard-icon">
                      <input type="text" name="cc_number" required="" />
                    </div>
                  </li>
                  <li class="form-list__row form-list__row--inline">
                    <div>
                      <label>Date d'expiration</label>
                      <div class="form-list__input-inline">
                        <input type="text" name="cc_month" placeholder="MM"  pattern="\\d*" minlength="2" maxlength="2" required="" />
                        <input type="text" name="cc_year" placeholder="YY"  pattern="\\d*" minlength="2" maxlength="2" required="" />
                      </div>
                    </div>
                    <div>
                      <label>
                        CVC
                      </label>
                      <input type="text" name="cc_cvc" placeholder="123" pattern="\\d*" minlength="3" maxlength="4" required="" />
                    </div>
                  </li>
                  <li class="form-list__row form-list__row--agree">
                    <label>
                      <input type="checkbox" name="save_cc" checked="checked">
                      Enregistrer ma carte pour les futurs achat
                    </label>
                  </li>
                  <li>
                    <button type="submit" class="button" (click)="paiement()">Payer</button>
                  </li>
                  <br>
                  <div [hidden]="!paie">
                    <p style="color: cornflowerblue;">Votre paiement est effectué avec succès. Merci !</p>
                  </div>
                </ul>
              </form>
            </div> 
        </div>
    </div>
</div>
