<div class="container-fluid" style="margin: 5px 5px;">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-6 border">
            <h2 style="text-align: center;"><b> MON PANIER </b></h2>
            <div>
                <ul *ngFor="let album of album;">
                  <li class="border">
                    <div class="d-flex justify-content-between mb-3">
                        <div class="p-2">
                            <img src={{album[0].photo}} alt={{album[0].annee}} style="height: 150px;">
                        </div>
                        <div class="p-2">
                            <h5 class="min-vh-70 mh-70">{{album[0].titre}}</h5>
                            <h6>{{album[0].nom_artiste}}</h6>
                            <p style="font-size: 18px;"><b>{{album[0].prix}} €</b></p>
                            <div style="display: inline-flex;">
                                <span style="margin-right: 7px;">Quantité  </span>  
                                <select class="form-control" id="sel1" name="sellist1" style="width: 60px; height: 35px; align-items: flex-end;">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="p-2">
                            <button ><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                  </li>
                </ul>
            </div>

        </div>
    
        <div class="col-6 border">
            <h2 style="text-align: center;"><b> TOTAL </b></h2>
            <br>
            <div class="d-flex justify-content-between mb-2">
                <div class="p-2">
                    <p>Remises</p>
                </div>
                <div class="p-2">
                    <a href="">appliquer la remise</a>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between mb-2">
                <div class="p-2">
                    <p>Valeur de la commande </p>
                    <p>Livraison </p>
                </div>
                <div class="p-2">
                    <p>20 euros</p>
                    <p>GRATUIT</p>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between mb-2">
                <div class="p-2">
                    <p><b> Total de la commande </b></p>
                </div>
                <div class="p-2">
                    <p><b>20 euros</b></p>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success btn-block"> PAIEMENT </button>
            <br>
        </div>
    </div>
</div>