<div class="container-fluid" style="margin: 5px 5px;">
  <br>
  <br>
  <br>
  <div>
      <div>
          <h2 style="text-align: center;"> Tableau de commandes </h2>
          <div>
            <br>
            <div class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th>Albums</th>
                    <th>Quantité</th>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Status de la commande</th>
                    <th>Mettre à jour la commande</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let hist of historiqueTab; let index = index;">
                    <td><p *ngFor="let alb of hist.nom_albums;">{{alb}}</p></td>
                    <td><p *ngFor="let qtt of hist.quantite;">{{qtt}}</p></td>
                    <td><span style="color: red;">{{hist.montant}} €</span></td>
                    <td>{{hist.date}}</td>
                    <td>{{hist.statut}}</td>
                    <td>
                      <select [(ngModel)]="hist.statut" (ngModelChange)="updateCommandes($event, hist.id)" >
                        <option value="">--Veuillez choisir un option--</option>
                        <option *ngFor="let art of tabStatut" [ngValue]="art">{{art}}</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
  </div>
</div>


<!--
<div class="container-fluid" style="margin: 5px 5px;">
    <br>
    <br>
    <br>
    <div>
        <div>
            <h2 style="text-align: center;"> Les commandes </h2>
            <div>
              <br>
              <div class="container">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Albums</th>
                      <th>Quantité</th>
                      <th>Montant</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Hello World</td>
                      <td>2</td>
                      <td>30 €</td>
                      <td>2022-01-01</td>
                      <td>
                        <select name="pets" id="pet-select">
                            <option value="">--Veuillez choisir--</option>
                            <option value="dog">En cours de préapartion</option>
                            <option value="cat">En cours de vérification</option>
                            <option value="hamster">En cours de livraison</option>
                            <option value="parrot">Livré</option>
                        </select>
                      </td>  
                    </tr>
                    <tr>
                        <td>Mini World</td>
                        <td>1</td>
                        <td>20 €</td>
                        <td>2022-02-01</td>
                        <td>
                            <select name="pets" id="pet-select">
                                <option value="">--Veuillez choisir--</option>
                                <option value="dog">En cours de préapartion</option>
                                <option value="cat">En cours de vérification</option>
                                <option value="hamster">En cours de livraison</option>
                                <option value="parrot">Livré</option>
                            </select>
                        </td>  
                      </tr>
                      <tr>
                        <td>Sweetener</td>
                        <td>1</td>
                        <td>50 €</td>
                        <td>2022-03-01</td>
                        <td><select name="pets" id="pet-select">
                            <option value="">--Veuillez choisir--</option>
                            <option value="dog">En cours de préapartion</option>
                            <option value="cat">En cours de vérification</option>
                            <option value="hamster">En cours de livraison</option>
                            <option value="parrot">Livré</option>
                        </select></td>  
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
    </div>
</div>
-->