<div class="container-fluid" style="margin: 5px 5px;">
    <br>
    <br>
    <br>
    <div>
        <div>
            <h2 style="text-align: center;"> Les commandes </h2>
            <div>
              <br>
              <div class="container">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Albums</th>
                      <th>Quantité</th>
                      <th>Montant</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Hello World</td>
                      <!--<td>{{hist.nom_albums}}</td>-->
                      <td>2</td>
                      <!--<td>{{hist.quantite}}</td>-->
                      <td>30 €</td>
                      <td>2022-01-01</td>
                      <td>
                        <select name="pets" id="pet-select">
                            <option value="">--Veuillez choisir--</option>
                            <option value="dog">En cours de préapartion</option>
                            <option value="cat">En cours de vérification</option>
                            <option value="hamster">En cours de livraison</option>
                            <option value="parrot">Livré</option>
                        </select>
                      </td>  
                    </tr>
                    <tr>
                        <td>Mini World</td>
                        <!--<td>{{hist.nom_albums}}</td>-->
                        <td>1</td>
                        <!--<td>{{hist.quantite}}</td>-->
                        <td>20 €</td>
                        <td>2022-02-01</td>
                        <td>
                            <select name="pets" id="pet-select">
                                <option value="">--Veuillez choisir--</option>
                                <option value="dog">En cours de préapartion</option>
                                <option value="cat">En cours de vérification</option>
                                <option value="hamster">En cours de livraison</option>
                                <option value="parrot">Livré</option>
                            </select>
                        </td>  
                      </tr>
                      <tr>
                        <td>Sweetener</td>
                        <!--<td>{{hist.nom_albums}}</td>-->
                        <td>1</td>
                        <!--<td>{{hist.quantite}}</td>-->
                        <td>50 €</td>
                        <td>2022-03-01</td>
                        <td><select name="pets" id="pet-select">
                            <option value="">--Veuillez choisir--</option>
                            <option value="dog">En cours de préapartion</option>
                            <option value="cat">En cours de vérification</option>
                            <option value="hamster">En cours de livraison</option>
                            <option value="parrot">Livré</option>
                        </select></td>  
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
    </div>
</div>
