<p>detail works!</p>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
  <h2 align="center">La liste des CHANSONS</h2>   
  <br>
  <br>        
  <table class="table">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Durée</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let chanson of detailTab">
            <td>{{chanson.titre}}</td>
            <td>{{chanson.duree}}</td>
          </tr>
    </tbody>
  </table>
</div>

<!--
<div class="container" style="width: 50%;">
  <header class=" page-header text-center bg-info">
      <h3>La liste des ALBUMS</h3>
  </header>
  <div>
    <ul class="list-group" *ngFor="let album of albumsTab">
      <li class="list-group-item" >
        <span class="glyphicon glyphicon-user"></span>
        <a>   {{album.identifiant}}</a>
      </li>
    </ul>
  </div>
</div>
<br>
-->
</body>
</html>
