<div class="container">
  <h2  style="text-align: center">La liste des CHANSONS</h2>   
  <br>
  <br> 
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-7">
        <ul *ngFor="let album of album">
          <li>
        <img src={{album.photo}} alt={{album.annee}}>
        <div>
          <h4>{{album.titre}}</h4>
          <h5>{{album.nom_artiste}}</h5>
          <h6>{{album.annee_sortie}}</h6>
          <h6>{{album.genre}}</h6>
          <p>{{album.prix}} €</p>
        </div>
        </li>
        </ul>
      </div>
      <div class="col-sm-5">
        <div class="container">
          <h2 style="text-align: center">chanson</h2>
          <ul *ngFor="let chanson of detailTab">
            <li>
              <div>
                <h4>{{chanson.titre}}</h4>
                <h5>{{chanson.duree}}</h5>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>